@font-face {
    font-family:"Andale";
    src:url(AndaleMono.woff) ;
   
}


body{
    margin: 0;
    background-color: black;
}

#wrapper{
    position: absolute;
    width: 100vw;
    height: 100%;
    
}

#box1{
    position: relative;
    width: 100vw;
    height: 120vh;
    font-family:Andale;
  
    
}

#img1{
    position: absolute;
    top:22vh;
    width: 100vw;
    z-index: 2;
}

.headtext{
    margin-top: 30px;
    color: white;
    font-size: 40px;
    line-height: 0px;
    margin-left: 15vw;
}

.subtext{
    color: white;
    font-size: 20px;
    margin-left: 15vw;
    line-height: 0px;
    margin-top: -10px;
}

#subtext2{
    color: white;
    margin-left: 15vw;
    margin-top: 12vh;
    font-size: 15px;
}

#subtext3{
    position: absolute;
    right: -6vw;
    top:18vh;
    color: white;
    font-size: 13px;
    transform: rotate(90deg);
    z-index: 10;
}

#link1{
    position: absolute;
    top:50vh;
    left: 75vw;
    
    
    height: 2.5%;
    z-index: 10;
}

.plus{
    width: 0.7%;
    z-index: 10;
}

#plus1{
    position: absolute;
    top:51.8vh;
    left: 82vw;  
}

#link2{
    position: absolute;
    top:74vh;
    left:78vw;
    
    
    height: 2.5%;
    z-index: 10;
}

#plus2{
    position: absolute;
    top:75.5vh;
    left:90vw;
    
    
}

#link3{
    position: absolute;
    top:77vh;
    left:57vw;
    
    
    height: 3.5%;
    z-index: 10;
}

#plus3{
    position: absolute;
    top:79vh;
    left:71vw;
 
}



#link4{
    position: absolute;
    top:59vh;
    left:9vw;
    
    
    height: 2%;
    z-index: 10;
}


#plus4{
    position: absolute;
    top:60vh;
    left:16vw;
 
}


#box2{
    position: relative;
    top:0vh;
    width: 100vw;
    height: 100vh;
    font-family:Andale;
    
}

#img2{
    position: relative;
    width: 100vw;
    top:20vh;
}

#subtext4{
    position: absolute;
    left:-8vw;
    top:20vh;
    color: white;
    font-size: 13px;
    transform: rotate(-90deg);
    z-index: 10;
}

#box3{
    position: relative;
    top: 40vh;
    
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-columns: 38vw 1fr;
    font-family:Andale;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

#box4{
    
    
    
    padding-left: 3vw;
    
}

#box5{
    
}

#img4{
    width: 60%;
}