@font-face {
    font-family:"Andale";
    src:url(AndaleMono.woff) ;

}


body{
    margin: 0;
    background-color: black;

}

#wrapper{
    position: absolute;
    width: 100vw;
    height: 500vh;
    font-family:Andale;
}

#box1{
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family:Andale;


}

#img1{
    position: absolute;
    top:22vh;
    width: 100vw;
    z-index: 1;
}

.headtext{
   position: sticky;
   top: 15px;
   padding: 10px;
    margin-top: 30px;
    color: white;
    font-size: 40px;
    line-height: 0px;
    margin-left: 15vw;
    z-index: 1;

}

.subtext{
  position: sticky;
  top: 35px;
  padding: 10px;
    color: white;
    font-size: 20px;
    margin-left: 15vw;
    line-height: 0px;
    margin-top: -10px;
    z-index: 1;
}


#subtext3{
    position: fixed;
    top:200px;
    right:-2vw;
    color: white;
    font-size: 12px;
    transform: rotate(90deg);
    z-index: 3;

}
#subtext4{
    position: fixed;
    left:-5vw;
    top:600px;
    color: white;
    font-size: 12px;
    transform: rotate(-90deg);
    z-index: 3;
}
#subtext5{
  position: absolute;
  right: -3vw;
  top:-70vh;
  color: white;
  font-size: 12px;
  transform: rotate(90deg);
  z-index: 10;
}
#bottomtext1{
  position: absolute;
    color: white;
    margin-left: 15vw;

    top: 700px;
    font-size: 12px;
}
#bottomtext2{
  position: absolute;
    color: white;
    margin-left: 35vw;

    top: 700px;
    font-size: 12px;
}


#link1{
    position: absolute;
    top:50vh;
    left: 80vw;
    height: 2.5%;
    z-index: 10;
}

#link2{
    position: absolute;
    top:56vh;
    left:77vw;
    height: 2.5%;
    z-index: 10;
}



#link3{
  position: absolute;
  top:70vh;
  left:8vw;
  height: 3.5%;
  z-index: 10;
}


#link4{
    position: absolute;
    top:63vh;
    left:6vw;
    height: 2.5%;
    z-index: 10;
}

#link5{
  position: absolute;
  top:62vh;
  left:79vw;
  height: 3%;
  z-index: 10;
}

#box2{
    position: relative;
    top:20vh;
    width: 100vw;
    height: 100vh;
    font-family:Andale;

}

#img2{
    position: relative;
    width: 100vw;
    top:50vh;
}

#img7{
  position: absolute;
  width:30vw;
  top:-180px;
  left:35vw;
  height:20%;

}

#img6{
  position:absolute;
  top: 120px;
  height: 30%;
  left: 13vw;
  border-color: red;
  border-style: solid;
  border-width: thick;
}
#img8{
  position:absolute;
  top: 300px;
  height: 20%;
  left: 50vw;
  border-color: red;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  transform: rotate(-90deg);

}


#box5{
    position: relative;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 38vw 1fr;
    font-family:Andale;
    font-size: 15px;
    line-height: 20px;
    color: white;
}


#pan1{

  margin: 10px;
  position: relative;
  top: 100px;
  width: 60vw;
  height: 70vh;
  text-align:center;
  left: 17vw;
  border:none;

}

#pan2{
  position:relative;
  top: 70vh;
  width: 45vw;
  height: 50vh;
  text-align:center;
  left: 5vw;
 border: none;

}

#pan3{
  position:absolute;
  top: -60vh;
  width: 80vw;
  height: 50vh;
  left: 15vw;
  border: none;
  border-radius: 65%;

}

#game1{
  position:relative;
  top: 130vh;
  width: 50vw;
  height: 100vh;
  text-align:center;
  left: 10vw;

}

#img3{
  position: relative;
  width: 100vw;

}
#png8{
  position: relative;
  top: 27vh;
  left:-5vw;
  height:15%;
  padding: 10px;
  margin:0px;

}

#pic3601{
  pedding: 20px
  margin: 20px
  positionr:relative;
  top:30vh;

}

#box3{
    position: relative;
    top: 290vh;
    width: 100vw;
    height: 100vh;
    font-family:Andale;
}


#box4{
  position: relative;
  top: 350vh;
  width: 100vw;
  height: 100vh;
  font-family:Andale;
}

/*#sketch{
  position:absolute;
  top: -70px;
  width: 900px;
  height: 500px;
  left: 10vw;
  border: none;
}*/

#star{
  top:100px;
  width: 100vw;
  height: 150vh;
  border:none;
  z-index: 25;
}
